h1{
    color: brown;
}

p{
    color: black;
}

h2{
    color: darkgoldenrod;
    text-align: center;
    font-size: 50px;
}

/*comentarios*/

/*classes e ids*/

.p-texto {
    color: deeppink;
}

#titulo-app {
    color: forestgreen;
    font-size: 80;
}

/*Backgrounds*/

.div-background {
    background-image: url(../img/OIP.jpg); /*para adicionar imagens */
    height: 300px;
}
.titulo-background {
    text-align: center;
    background-color:#000;
    color: gainsboro;
    font-family: 'Courier New', Courier, monospace;
}

/*tipos de fontes*/

.family {
    color: rgb(42, 165, 52);
    font-size: 40px;
}

.family.serif {
    color: chartreuse;
}

.serif {
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

.sans-serif {
    font-family: Arial, Helvetica, sans-serif;
    color: darkmagenta;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
    color: gold;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant: small-caps;z
}
/*editando o border para o padding encostar no canto da tela */
body {
    margin: 0;
}
.boxmodel {
    width: 200px;
    height: 200px; 
    background-color: white; 
    padding: 30px 23px 5px 10px; /*especifico agrupado*/
   /*padding: 30px 20px;* especifico*/
    border: 3px solid #000;
    margin: 50px; 
    /*margin: 5px 20px 5px 10px; especifico agrupado */
}
/*
 ________________
| Margin         |
| _______________|
||border        ||
||  ___________ ||
|| |padding    |||
|| |___________|||
||______________||
|________________|
*/ 
/*margin empurra o elemento para o lado que vc escolher */
/*Border te permite adicionar uma margen entre a margin e o padding*/
/*padding o espaçamento do elemento*/



/*POSITIONS e seus tipos:*/

/*static - flow no html, não é alterado por top, left, right e bottom*/
/*relative - flow do html, ela é alterada pelo top, left, right e bottom */
/*fixed - posiciona em qualquer lugar da tela, e é posicionada em relação ao html*/
/*absolute - posiciona em qualquer lugar, e ela respeita o elemento antecessor*/
/*sticky - esta no flow do html, porem ao passar o scroll ela funciona como fixed*/


/*
/\ top    < left      >right      \/ bottom    width -- largura   height -- altura
*/

.div-position {
    width: 500px;
    height: 500px;
    background-color: coral;
}

.static {
    position: static; /*Não muda nada - ela não se posiciona*/
}

.relative { /*se torna relativo a div que ja existe*/
    position: relative;
    background-color: darkblue;
    top: 100px;
    left: 50px;
}

.absolute { /*ela respeita a hierarquia do html e respeita a div 'pai' dela */
    position: absolute;
    background-color: darkred;
    top: 0;
    left: 0;
}

.fixed { /*ela acompanha a tela*/
    position: fixed;
    background-color: darkseagreen;
    height: 200px;
    bottom: 0;
    right: 0;
}

.sticky { /*sempre fica junto*/
    position: sticky;
    background-color: darkviolet;
    top: 0px;
}

/*Float - dizer para aonde o elemento deve flutuar*/

.container {
    padding: 50px;
}

.div-float {
    overflow: auto;
}

.img-float {
    width: 200px;
    height: 200px;
    float: left;
}

.float-right{
    float: right;
}
.p-float {
    color:darkviolet
}

/*a propriedade clear  é para falar que não deve flutuar para lugar nenhum*/
.clear {
    clear: both;
}
/*Unidades de medida*/
/*pixels - quantos pixels forem colocados, sera exibido na tela  */
/*porcentagem - ele executa a porcentagm, do tamanho do pai - exemplo 50% de altura e largura de 500px de altura e largura, tem o resultado da metade dp pai 250 px*/
/*em - ele trablha com o tamanho da fonte pai - exemplo se a fonte-size tem 50px e eu coloco 1em de largura e altura ele vai ter 50px de altura e largura - se eu coloco .5 em ele vai ter 25px de altura e largura*/
/*rem - o rem tem como fonte o html - se não alterar o tamanho da font-size do html ele vai puxar como padrão 16px de altura e largura- mas referente a regra ele segue o EM. */

.pixel-1{
    background-color: blue;
    width: 100px; /*largura*/
    height: 100px; /*altura*/
}

.pixel-2{
    background-color: gold;
    width: 500px; /*largura*/
    height: 50px; /*altura*/
}

.pai-porcentagem {
    background-color: brown;
    height: 500px;
    width: 500px;
}

.porcentagem-1 {
    width: 50%;
    height: 50%;
    background-color: crimson;
}

.pai-em {
    font-size: 50px;
}

.em-1{
 width: 1em;
 height: 1em;
 background-color: darkblue;
}

.rem-1 {
    background-color: darkgoldenrod;
    width: 1rem;
    height: 1rem;
}