h1{
    color: brown;
}

p{
    color: gold;
}

h2{
    color: darkgoldenrod;
    text-align: center;
    font-size: 50px;
}

/*comentarios*/

/*classes e ids*/

.p-texto {
    color: deeppink;
}

#titulo-app {
    color: forestgreen;
    font-size: 80;
}

/*Backgrounds*/

.div-background {
    background-image: url(../img/OIP.jpg); /*para adicionar imagens */
    height: 300px;
}
.titulo-background {
    text-align: center;
    background-color:#000;
    color: gainsboro;
}

/*tipos de fontes*/

.family {
    color: rgb(42, 165, 52);
    font-size: 40px;
}

.family.serif {
    color: chartreuse;
}

.serif {
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

.sans-serif {
    font-family: Arial, Helvetica, sans-serif;
    color: darkmagenta;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
    color: gold;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant: small-caps;z
}
/*editando o border para o padding encostar no canto da tela */
body {
    margin: 0;
}
.boxmodel {
    width: 200px;
    height: 200px 
    background-color: gold; 
    padding: 30px 23px 5px 10px /*especifico agrupado*/
   /*padding: 30px 20px;* especifico*/
    border: 3px solid #000;
    margin: 50px; 
    /*ver com o maycon pq o margin esta excluindo o border*/
}
/*
 ________________
| Margin         |
| _______________|
||border        ||
||  ___________ ||
|| |padding    |||
|| |___________|||
||______________||
|________________|
*/ 
/*margin empurra o elemento para o lado que vc escolher */
/*Border te permite adicionar uma margen entre a margin e o padding*/
/*padding o espaçamento do elemento*/