body {
    font-family: Arial, Helvetica, sans-serif;/*tipo de fonte aplicada*/
    color: azure;
    min-height: 100vh;
    background-color: rgb(16, 37, 75);
}

*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.cadastro{
    background-color: rgba(255, 255, 255, 0.8);/*alpha é a tranparencia, o fundinho*/
    position: absolute; /*ocupa o espaço apenas de seus elementos*/
    top: 10%;
    right: 10%;
    padding: 350px; /*distancia entre os elementos e a borda */
    border-radius: 15px; /*arrendondar as bordas*/
}

.google {
    width: 40px;
    position: absolute; /*ocupa o espaço apenas de seus elementos*/
    top: 25%;
    right: 24%;
}

.face{
    width: 68px;
    position: absolute; /*ocupa o espaço apenas de seus elementos*/
    top: 25%;
    right: 27%;
}

.link{
    width: 65px;
    position: absolute; /*ocupa o espaço apenas de seus elementos*/
    top: 24%;
    right: 31%;
}

main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    position: absolute; /*ocupa o espaço apenas de seus elementos*/
    top: 15%;
    right: 21%;
}

.ou{
    position: absolute; /*ocupa o espaço apenas de seus elementos*/
    top: 30%;
    right: 19%;
}

form{
    position: absolute; /*ocupa o espaço apenas de seus elementos*/
    top: 30%;
    right: 22%;
    padding: 50px; /*distancia entre os elementos e a borda */
    border-radius: 15px; /*arrendondar as bordas*/
    color:rgba(11, 8, 212, 0.534)
    
}

input{
    padding: 15px; /*distancia entre os elementos e a borda*/
    border: none;
    outline: none; /*tirar a linha que fica para fora*/
    font-size: 18px;/*tamanho da fonte*/
    width: 140%
}

button{
    background-color: dodgerblue;/*a cor do botão para poder fazer o envio*/
    border: none; /*tirar a borda*/
    padding: 18px;/*distancia entre os elementos e a borda*/
    width: 140%;/*largura*/
    border-radius: 12px;/*arrendondar as bordas*/
    color: white; /*para palavra 'enviar' ficar na cor branca*/
    top: 30%;
    right: 30%;
    font-size: 18px;
}

button:hover {
    background-color: aqua; /*quando passar o mouse em cima muda a cor*/
    cursor: pointer;/*muda o formato do cursor do mouse */
}

.logan {
    padding: 150px;
    width: 120%;
}